body {
    /*background-color: black;*/
}

* {
    box-sizing: border-box;
}

/* EDITOR APP */

#content {
    width: 480px;
    margin: 0 auto;
}

.editor {
    border: 1px solid grey;
    padding: 6px;
    height: 50vh;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

#toolbarForm {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    line-height: 10px;
}

#jam-title {
    line-height: 10px;
    font-size: 20px;
}
button {
    background-color: white;
    border: 0.1px solid grey;
    height: 30px;
    border-radius: 2px;
}

.toolbarButton {
    width: 30px;
}

.backButton {
    width: 30px;
    color: black;
}

#header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* DOCUMENT PORTAL */

#portal {
    width: 480px;
    margin: 0 auto;
    text-align: center;
}

#docList {
    margin: 10px;
    border: 0.05px solid grey;
    border-radius: 3px;
    padding: 10px;
}

.inputs {
    height: 30px;
    margin: 10px;
    padding: 5px;
    outline: none;
    border: 0.01px grey solid;
    border-radius: 2px;
}

button:hover {
    background-color: black
    color: white;
}
