body {
    /*background-color: black;*/
}

* {
    box-sizing: border-box;
}

#content {
    width: 480px;
    margin: 0 auto;
}

.editor {
    border: 1px solid grey;
    padding: 6px;
    height: 50vh;
}

.randoStyling {
  color: #999;
  font-family: 'Hoefler Text', Georgia, serif;
  font-style: italic;
  text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

#toolbarForm {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    line-height: 10px;
}

#jam-title {
    line-height: 10px;
    font-size: 20px;
}

button {
    background-color: white;
    border: 0.1px solid grey;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    margin: 50px;
}
