body {
    background-color: black;
}

* {
    box-sizing: border-box;
}

#content {
    width: 480px;
    margin: 0 auto;
}

.editor {
    border: 1px solid grey;
    padding: 6px;
}

.randoStyling {
  color: #999;
  font-family: 'Hoefler Text', Georgia, serif;
  font-style: italic;
  text-align: center;
}

